*{
    margin: 0px;
}
.navbar{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
}
.back{
    background-color:#abb;
    overflow: scroll;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 50px; */
}

.card{
    margin-left: 50px;
    margin-top: 50px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: opx 2px 4px rgba(0, 0, 0, 2);
}
.cell{
    background-color:whitesmoke;
    margin-top: 50px;
}
.celltwo{
    background-color:rgb(126, 121, 117);
     padding: 20px;
      
}
.front{
    height: 30px;
    width: 500px; 
     
}
.carousel-inner{
    
  
    
    padding: 50px;
    border-radius: 50px;
}
.cellthree{
width: 500px;
}